.chatinput {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 6px;
  margin: 18px auto 35px;
  border-radius: 12px;
  border: 1px solid var(--border-primary);
  width: 60%;
}

.chatinput_input {
  padding: 12px 6px;
  width: 100%;
  color: var(--text-primary);
  font-size: 14px;
  line-height: 20px;
  color: var(--text-primary);
}
