.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 8px 24px;
  box-shadow: 0px 1px 2px 0px rgba(2, 17, 37, 0.12);
  z-index: 1;
}
.header_right {
  display: flex;
}

.header_user {
  display: flex;
  align-items: center;
  gap: 8px;
}
